.jumbotron {
  margin-bottom: 0;
  background-color: #ffffff;
}

.album {
  background-color: #e9ecef;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.icon {
  margin: 10px 10px 0 10px;
}

.body-title {
  text-align: center;
  margin-bottom: 2rem;
}

.modal-header {
  border-bottom: none;
  padding: 1rem 1rem 0 1rem;
}

.modal-body {
  padding: 0 1rem 1rem 1rem;
}

.card-text {
  min-height: 72px;
}